<div class="pelanggan-bottom-nav no-print">
  <div class="nav">
    <a href="/pelanggan" class="nav-link <%= activeTab === 'home' ? 'active' : '' %>">
      <i class="fas fa-home"></i>
      <span>Beranda</span>
    </a>
    <a href="/pelanggan/riwayat" class="nav-link <%= activeTab === 'history' ? 'active' : '' %>">
      <i class="fas fa-clock-rotate-left"></i>
      <span>Riwayat</span>
    </a>
    <a href="/pelanggan/tagihan" class="nav-link <%= activeTab === 'bill' ? 'active' : '' %>">
      <i class="fas fa-file-invoice"></i>
      <span>Tagihan</span>
    </a>
    <a href="/pelanggan/akun" class="nav-link <%= activeTab === 'account' ? 'active' : '' %>">
      <i class="fas fa-user"></i>
      <span>Akun</span>
    </a>
  </div>
</div>
